body {
  background-color: #114;
  margin: 0;
}

* {
  color: #efefff;
  font-family: sans-serif;
}
          
h1, h2, h3, h4, h5 {
  text-align: center;
}
          
header, footer {
  text-align: center;
  padding: 5px;
  background-color: #226;
  border-top: 3px solid #bbe;
  border-bottom: 3px solid #bbe;
}

hr {
    border: 1px solid #bbe;
}
